<?xml version="1.0"?>
<robot name="mcubot_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="false"/>

  <gazebo reference="base_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>
  
  <gazebo reference="front_left_wheel">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <transmission name="front_left_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
		  <actuator name="front_left_wheel_motor">
		    <mechanicalReduction>1</mechanicalReduction>
		  </actuator>
    <joint name="base_to_front_left_wheel">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
  
  <gazebo reference="front_right_wheel">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <transmission name="front_right_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
		  <actuator name="front_right_wheel_motor">
		    <mechanicalReduction>1</mechanicalReduction>
		  </actuator>
    <joint name="base_to_front_right_wheel">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
  
  <gazebo reference="back_left_wheel">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <transmission name="back_left_wheel">
    <type>transmission_interface/SimpleTransmission</type>
		  <actuator name="back_left_wheel_motor">
		    <mechanicalReduction>1</mechanicalReduction>
		  </actuator>
    <joint name="base_to_back_left_wheel">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
  
  <gazebo reference="back_right_wheel">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <transmission name="back_right_wheel">
    <type>transmission_interface/SimpleTransmission</type>
		  <actuator name="back_right_wheel_motor">
		    <mechanicalReduction>1</mechanicalReduction>
		  </actuator>
    <joint name="base_to_back_right_wheel">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
  
  <!-- Gazebo plugin for Driving Base -->
  <gazebo>
    <plugin name="mcubot_burger_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>true</publishOdomTF>
      <robotBaseFrame>base_link</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>30</updateRate>
      <leftJoint>front_left_wheel</leftJoint>
      <rightJoint>front_right_wheel</rightJoint>
      <wheelSeparation>0.160</wheelSeparation>
      <wheelDiameter>0.066</wheelDiameter>
      <wheelAcceleration>1</wheelAcceleration>
      <wheelTorque>10</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>
  
  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

</robot>
